@model Golf4.Models.ReservationModels
@using Golf4.Models

<hr />
<h3>Stängning av banan</h3>

<p>Välj datum och ange klockslag med timme:minut (i tio minuters-intervall, exempelvis 07:00, 07:10, 07:20 etc.)</p>
<h4>Start</h4>
<script>
    $( function() {
    $( "#clstartdate" ).datepicker();
    } );
</script>
<p>Datum: <input type="text" id="clstartdate"></p>
<p>Tid: <input type="text" id="closestarttime" /></p>

<h4>Slut</h4>
<script>
    $( function() {
    $( "#clstopdate" ).datepicker();
    } );
</script>
<p>Datum: <input type="text" id="clstopdate"></p>

<p>Tid: <input type="text" id="closestoptime" /></p>

<p><input type="submit" value="Spara" class="btn btn-default" id="closesubmit"/></p>
