@model Golf4.Models.ReservationModels
@using Golf4.Models

<hr />
<h3>Stängning av banan</h3>

<h4>Start</h4>

<form method="post">
    <script>
        $(function () {
            $("#datetimepickerstart").datetimepicker({ format: 'yyyy-mm-dd hh:mm:ss', language: 'sv', autoclose: true, weekStart: 1});
        });
    </script>
    <table class="tableclose">
        <tr>
            <td>Tid:</td>
            <td><input type="text" id="datetimepickerstart" name="startime"></td>
        </tr>
    </table>

    <h4>Slut</h4>
    <script>
        $(function () {
            $("#datetimepickerend").datetimepicker({ format: 'yyyy-mm-dd hh:mm:ss', language: 'sv', autoclose: true, weekStart: 1 });
        });
    </script>

    <table class="tableclose">
        <tr>
            <td>Tid:</td>
            <td><input type="text" id="datetimepickerend" name="endtime"></td>
        </tr>
    </table>
    <p><input type="submit" value="Spara" class="btn btn-default" id="closesubmit" /></p>
</form>
