@model Golf4.Models.ReservationModels
@using Golf4.Models

<hr />
<h3>Stängning av banan</h3>

<p>Välj datum och ange klockslag med timme:minut (i tio minuters-intervall, exempelvis 07:00, 07:10, 07:20 etc.)</p>
<h4>Start</h4>

<form method="post">
    <script>
        $(function () {
            $("#datetimepicker").datetimepicker({ format: 'DD-MM-YYYY HH:mm:ss' });
        });
    </script>
    <table class="tableclose">
        <tr>
            <td>Datum:</td>
            <td><input type="text" id="datetimepicker" name="startime" data-date-format="yyyy-mm-dd hh:ii"></td>
        </tr>
        <tr>
            <td>Tid</td>
            <td><input type="text" id="closestarttime" /></td>
        </tr>
    </table>

    <h4>Slut</h4>
    <script>
        $(function () {
            $("#datetimepicker").datetimepicker({ format: 'DD-MM-YYYY HH:mm:ss' });
        });
    </script>

    <table class="tableclose">
        <tr>
            <td>Datum:</td>
            <td><input type="text" id="datetimepicker" name="endtime"></td>
        </tr>
        <tr>
            <td>Tid</td>
            <td><input type="text" id="closestoptime" /></td>
        </tr>
    </table>
    <p><input type="submit" value="Spara" class="btn btn-default" id="closesubmit" /></p>
</form>
