@model Golf4.Models.ReservationModels
@using Golf4.Controllers;
@using Golf4.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Index";
}

<div class="fullscreen-booking">
    <div class="fullscreen-date"> 
        <img class="arrow-fs" src="~/Content/img/left.png" alt="" /> 
        
        <script>
             $( function() {
                 $("#datepicker").datepicker({ dateFormat: "yy-mm-dd", firstDay: 1 });
                 var today = new Date(); 
                 var dd = today.getDate(); 
                 var mm = today.getMonth() + 1; //January is 0! 
                 var yyyy = today.getFullYear();
                 if (dd < 10) { dd = '0' + dd; }
                 if (mm < 10) { mm = '0' + mm; }
                 var today = yyyy + '-' + mm + '-' + dd;

                 $("#datepicker").val(today);
             });
        </script>
        
        <div class="fullscreen-datepicker"><input type="text" id="datepicker"></div>

        <img class="arrow-fs" src="~/Content/img/right.png" alt="" />
        <div class="clear"></div>
    </div>

    <table class="fullscreen-reservation-schedule">
        <tr>
            <td class="hours">07</td>
            <td class="hours">08</td>
            <td class="hours">09</td>
            <td class="hours">10</td>
            <td class="hours">11</td>
            <td class="hours">12</td>
            <td class="hours">13</td>
            <td class="hours">14</td>
            <td class="hours">15</td>
            <td class="hours">16</td>
            <td class="hours">17</td>
        </tr>
        <tr> 
            @{
                DateTime date = new DateTime();
                TimeSpan ts = new TimeSpan(07, 00, 00);
                DateTime dt = date.Date + ts;
                string membergender = "";
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:00
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender 
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:10
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:20
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:30
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                        </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:40
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                     </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
        <tr>
            @{
                dt = dt.AddHours(-11);
                dt = dt.AddMinutes(10);
                for (int i = 0; i <= 10; i++)
                {
                    <td id=@dt.ToString("HHmm") class="column">:50
                        @foreach (MemberModels Member in ViewBag.List)
                        {
                            if (Member.Reservation.Timestart.ToString("HHmm") == dt.ToString("HHmm"))
                            {
                                membergender += Member.Gender.ToString();
                            }
                        }
                        @membergender
                    </td>
                    membergender = "";
                    dt = dt.AddHours(1);
                }
            }
        </tr>
    </table>
</div>

<div class="mobile-booking">   @*OBS! javascript click ska ändrar denna css till display:block. Nu är display:none *@
    <div class="mobile-date">
            <img class="arrow-ms" src="~/Content/img/left.png" alt="" />
        <script>
             $( function() {
                 $("#datepicker-mobile").datepicker({ dateFormat: "yy-mm-dd", firstDay: 1 });
                 var today = new Date();
                 var dd = today.getDate();
                 var mm = today.getMonth() + 1; //January is 0!
                 var yyyy = today.getFullYear();
                 if (dd < 10) { dd = '0' + dd; }
                 if (mm < 10) { mm = '0' + mm; }
                 var today = yyyy + '-' + mm + '-' + dd;

                 $("#datepicker-mobile").val(today);
             });
        </script>
            <div class="mobile-datepicker"><input type="text" id="datepicker-mobile"></div>

            <img class="arrow-ms" src="~/Content/img/right.png" alt="" />
            <div class="clear"></div>
    </div>
    <div class="mobile-reservation-schedule">
        <div class="7hour">
            
            <div class="hourheader">
                <h4 id="hour-booking">kl.07</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="7hour-minute-res">
                <div id="0700" class="rows">:00</div>
                <div id="0710" class="rows">:10</div>
                <div id="0720" class="rows">:20</div>
                <div id="0730" class="rows">:30</div>
                <div id="0740" class="rows">:40</div>
                <div id="0750" class="rows">:50</div>
            </div>
        </div>
        <div class="8hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.08</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="8hour-minute-res">
                <div id="0800" class="rows">:00</div>
                <div id="0810" class="rows">:10</div>
                <div id="0820" class="rows">:20</div>
                <div id="0830" class="rows">:30</div>
                <div id="0840" class="rows">:40</div>
                <div id="0850" class="rows">:50</div>
            </div>
        </div>
        <div class="9hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.09</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="9hour-minute-res">
                <div id="0900" class="rows">:00</div>
                <div id="0910" class="rows">:10</div>
                <div id="0920" class="rows">:20</div>
                <div id="0930" class="rows">:30</div>
                <div id="0940" class="rows">:40</div>
                <div id="0950" class="rows">:50</div>
            </div>
        </div>
        <div class="10hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.10</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="10hour-minute-res">
                <div id="1000" class="rows">:00</div>
                <div id="1010" class="rows">:10</div>
                <div id="1020" class="rows">:20</div>
                <div id="1030" class="rows">:30</div>
                <div id="1040" class="rows">:40</div>
                <div id="1050" class="rows">:50</div>
            </div>
        </div>
        <div class="11hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.11</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="11hour-minute-res">
                <div id="1100" class="rows">:00</div>
                <div id="1110" class="rows">:10</div>
                <div id="1120" class="rows">:20</div>
                <div id="1130" class="rows">:30</div>
                <div id="1140" class="rows">:40</div>
                <div id="1150" class="rows">:50</div>
            </div>
        </div>
        <div class="12hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.12</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="12hour-minute-res">
                <div id="1200" class="rows">:00</div>
                <div id="1210" class="rows">:10</div>
                <div id="1220" class="rows">:20</div>
                <div id="1230" class="rows">:30</div>
                <div id="1240" class="rows">:40</div>
                <div id="1250" class="rows">:50</div>
            </div>
        </div>
        <div class="13hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.13</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="13hour-minute-res">
                <div id="1300" class="rows">:00</div>
                <div id="1310" class="rows">:10</div>
                <div id="1320" class="rows">:20</div>
                <div id="1330" class="rows">:30</div>
                <div id="1340" class="rows">:40</div>
                <div id="1350" class="rows">:50</div>
            </div>
        </div>
        <div class="14hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.14</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="14hour-minute-res">
                <div id="1400" class="rows">:00</div>
                <div id="1410" class="rows">:10</div>
                <div id="1420" class="rows">:20</div>
                <div id="1430" class="rows">:30</div>
                <div id="1440" class="rows">:40</div>
                <div id="1450" class="rows">:50</div>
            </div>
        </div>
        <div class="15hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.15</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="15hour-minute-res">
                <div id="1500" class="rows">:00</div>
                <div id="1510" class="rows">:10</div>
                <div id="1520" class="rows">:20</div>
                <div id="1530" class="rows">:30</div>
                <div id="1540" class="rows">:40</div>
                <div id="1550" class="rows">:50</div>
            </div>
        </div>
        <div class="16hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.16</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="16hour-minute-res">
                <div id="1600" class="rows">:00</div>
                <div id="1610" class="rows">:10</div>
                <div id="1620" class="rows">:20</div>
                <div id="1630" class="rows">:30</div>
                <div id="1640" class="rows">:40</div>
                <div id="1650" class="rows">:50</div>
            </div>
        </div>
        <div class="17hour">
            <div class="hourheader">
                <h4 id="hour-booking">kl.17</h4>
                <img class="downarrow-ms" src="~/Content/img/arrow-down.png" alt="" />
                <div class="clear"></div>
            </div>

            <div class="17hour-minute-res">
                <div id="1700" class="rows">:00</div>
                <div id="1710" class="rows">:10</div>
                <div id="1720" class="rows">:20</div>
                <div id="1730" class="rows">:30</div>
                <div id="1740" class="rows">:40</div>
                <div id="1750" class="rows">:50</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
    }
