@model Golf4.Models.ReservationModels
@model System.Data.DataTable

@{
    ViewBag.Title = "Index";
}

<h2>Bokning</h2>

Ropa på denna
@{
    ((HomeController)this.ViewContext.Controller).Method1();
}
@DateTime chosenTime = DateTime.Now;
@ReservationsBallsDay(DateTime Timestart)

@foreach (System.Data.DataRow dr in Model.Rows)
{
    string gender = dr["gender"].ToString();
    string golfid = dr["golfid"].ToString();
    double hcp = Convert.ToDouble(dr["hcp"]);
}
@*Söker igenom datatablet*@

Skicka till rätt ställe

<table class="booking">
    <tr>
        <th>07</th>
        <th>08</th>
        <th>09</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
    </tr>
    <tr>
        <td id="0700">:00</td>
        <td id="0800">:00</td>
        <td id="0900">:00</td>
        <td id="1000">:00</td>
        <td id="1100">:00</td>
        <td id="1200">:00</td>
        <td id="1300">:00</td>
        <td id="1400">:00</td>
        <td id="1500">:00</td>
        <td id="1600">:00</td>
        <td id="1700">:00</td>
    </tr>
    <tr>
        <td id="0710">:10</td>
        <td id="0810">:10</td>
        <td id="0910">:10</td>
        <td id="1010">:10</td>
        <td id="1110">:10</td>
        <td id="1210">:10</td>
        <td id="1310">:10</td>
        <td id="1410">:10</td>
        <td id="1510">:10</td>
        <td id="1610">:10</td>
        <td id="1710">:10</td>
    </tr>
    <tr>
        <td id="0720">:20</td>
        <td id="0820">:20</td>
        <td id="0920">:20</td>
        <td id="1020">:20</td>
        <td id="1120">:20</td>
        <td id="1220">:20</td>
        <td id="1320">:20</td>
        <td id="1420">:20</td>
        <td id="1520">:20</td>
        <td id="1620">:20</td>
        <td id="1720">:20</td>
    </tr>
    <tr>
        <td id="0730">:30</td>
        <td id="0830">:30</td>
        <td id="0930">:30</td>
        <td id="1030">:30</td>
        <td id="1130">:30</td>
        <td id="1230">:30</td>
        <td id="1330">:30</td>
        <td id="1430">:30</td>
        <td id="1530">:30</td>
        <td id="1630">:30</td>
        <td id="1730">:30</td>
    </tr>
    <tr>
        <td id="0740">:40</td>
        <td id="0840">:40</td>
        <td id="0940">:40</td>
        <td id="1040">:40</td>
        <td id="1140">:40</td>
        <td id="1240">:40</td>
        <td id="1340">:40</td>
        <td id="1440">:40</td>
        <td id="1540">:40</td>
        <td id="1640">:40</td>
        <td id="1740">:40</td>
    </tr>
    <tr>
        <td id="0750">:50</td>
        <td id="0850">:50</td>
        <td id="0950">:50</td>
        <td id="1050">:50</td>
        <td id="1150">:50</td>
        <td id="1250">:50</td>
        <td id="1350">:50</td>
        <td id="1450">:50</td>
        <td id="1550">:50</td>
        <td id="1650">:50</td>
        <td id="1750">:50</td>
    </tr>
</table>