@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Här kommer lite information om oss på Hålslagen GK så småningom.</p>
<p>Klicka @Html.ActionLink("här", "ScorecardEmpty", "Scorecard") för att se hur våra score-kort ser ut.</p>
