@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title</h2>

<hr />
<br />
<p>Här kommer lite information om oss på Hålslaget GK så småningom.</p>
<br />
<br />
<hr/> 

<p>Här kan ni hämta hem vårat tomma scorekort.</p>
<p>
    <a class="btn btn-default" href="~/Scorecard/ScorecardEmpty"> Scorekort &raquo;</a>
</p>
<br />
<br />