@{
    ViewBag.Title = "Kontaktuppgifter";
}
<h2>@ViewBag.Title</h2>
<hr />
<address>
    <strong>Adress:</strong><br />
    Jämtlandsvägen 2<br />
    123 45 Östersund<br />
</address>

<address>
    <strong>Telefon:</strong> 123-456789
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:info@hgk.se">info@hkg.se</a><br />
</address>

<br />
<br />
<img src="~/Content/img/golfbollarbanner.png" class="loginimg" />