@{
    ViewBag.Title = "Tävlingar";
}

<h2>@ViewBag.Title</h2>
<hr />

<h5> Här kan ni hitta information om kommande tävlingar samt resultatet från utförda tävlingar.</h5>
<br />
<p>
    <a class="btn btn-default" href="~/HomeComp/Index"> Kommande tävlingar</a>
</p>
<p>
    <a class="btn btn-default" href="~/Home/Results"> Resultat för gamla tävlingar</a>
</p>
<hr />
<h5> Behöver du ett tomt scorekort? Skriv ut ett här.</h5>
<p>
    <a class="btn btn-default" href="~/Scorecard/ScorecardEmpty"> Scorekort &raquo;</a>
</p>
