@{
    ViewBag.Title = "Kontaktuppgifter";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Jämtlandsvägen 2<br />
    123 45 Östersund<br />
</address>

<address>
    <strong>Telefon:</strong> 123-456789
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:info@hgk.se">Support@example.com</a><br />
</address>