@{
    ViewBag.Title = "Tävlingar";
}

<h2>@ViewBag.Title</h2>
<hr />

<h5> Här kan ni hitta information om kommande tävlingar samt resultatet från utförda tävlingar.</h5>
<br />
<a class="btn btn-default" href="~/HomeComp/Index"> Kommande tävlingar &raquo;</a>
<br/>
<a class="btn btn-default btnadmin" href="~/Home/Results"> Resultat för gamla tävlingar &raquo;</a>
<hr />
<h5> Behöver du ett tomt scorekort? Skriv ut ett här.</h5>
<a class="btn btn-default btnadmin" href="~/Scorecard/ScorecardEmpty"> Scorekort &raquo;</a>
