@{
    ViewBag.Title = "Startsida";
}

<div class="container">
    <div class="row">
        <div class="slider">
            <div class="img-responsive">
                <ul class="bxslider">
                    <li><img src="~/Content/img/img01.jpg" alt="" /></li>
                    <li><img src="~/Content/img/img02.jpg" alt="" /></li>
                    <li><img src="~/Content/img/img03.jpg" alt="" /></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="line-hp">
    <hr />
</div>
<div class="row">
    <div class="col-md-4">
        <div class="pic-back1">
            <img src="~/Content/img/Golf-hålslagetgk.png" />
        </div>
        <p>
            Utanför Östersund ligger Hålslaget GK med sin vackra golfbana på 18 hål.
            Vi kan ge dig en trevlig golfrunda på landet, välkommen!
        </p>
        <p><a class="btn btn-default" href="~/home/About">Läs mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
            <div class="pick-back2">
                <img src="~/Content/img/Golf bli medlem.png" />
            </div>
        <p>Vill du bli medlem i Hålslaget GK? Som medlem är det mer förmånligt att spela på HGK. Kontakta oss för att bli medlem.</p>
        <p><a class="btn btn-default" href="~/home/Contact">Kontaka oss &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="pick-back3">
            <img src="~/Content/img/Golftävlingar.png" />
        </div>
        <p>Kom och tävla på vår golfbana! <br /> 
        Oavsett om du är medlem eller inte så är du välkommen att tävla hos oss.</p>
        <p><a class="btn btn-default" href="~/Views/HomeComp/Index.cshtml">Tävlingar på HGK &raquo;</a></p>
    </div>
</div>
<div class="line-hp">
    <hr />
</div>
