@model Golf4.Models.ScorecardModel

@{
    ViewBag.Title = "Scorecard";
}

<h2>Scorecard</h2>

<table class="scoreCard">

    <tr>
        <th rowspan="2">HÅL</th>
        <th rowspan="2">Gul</th>
        <th rowspan="2">Röd</th>
        <th rowspan="2">PAR</th>
        <th rowspan="2">HCP</th>
        <th>Slag</th>
        <th>Resultat</th>
        <th>Slag</th>
        <th>Resultat</th>
        <th>Slag</th>
        <th>Resultat</th>
        <th>Slag</th>
        <th>Resultat</th>
    </tr>
    <tr>
        <td id=""></td>
    </tr>
</table>