@using Golf4.Models
@using System.Data
@model ContestModels

@{
    ViewBag.Title = "Competition";
}

<h2>Competition</h2>

<div class="contestList">
    <h2> Tävlingar</h2>
    <hr />
</div>
<div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css" />

    <table id="contests">
        <thead>
            <tr>
                @foreach (DataColumn item in Model.Columns)
                {
                    <th> @item.ColumnName</th>
                }

            </tr>
        </thead>
        </table>
</div>