@model Golf4.Models.ScorecardModel

@{
    ViewBag.Title = "Scorecard";
}

<h2>Scorecard</h2>
<div class="scorecard">
    <table class="scoreCard1-9">

        <tr>
            <th class="cardCell">HÅL</th>
            <th class="cardCell">Gul</th>
            <th class="cardCell">Röd</th>
            <th class="cardCell">PAR</th>
            <th class="cardCell">HCP</th>
            <th colspan="2" class="cardCell" id="player1"></th>
            <th colspan="2" class="cardCell" id="player2"></th>
            <th colspan="2" class="cardCell" id="player3"></th>
            <th colspan="2" class="cardCell" id="player4"></th>
        </tr>
        <tr>
            <td colspan="5" class="cardCell"></td>
            <td class="cardCell">Slag</td>
            <td class="cardCell">Resultat</td>
            <td class="cardCell">Slag</td>
            <td class="cardCell">Resultat</td>
            <td class="cardCell">Slag</td>
            <td class="cardCell">Resultat</td>
            <td class="cardCell">Slag</td>
            <td class="cardCell">Resultat</td>
        </tr>
        <tr>
            <td class="cardCell" id="2.1">1</td> @*id=row.column*@
            <td class="cardCell" id="2.2"></td>
            <td class="cardCell" id="2.3"></td>
            <td class="cardCell" id="2.4"></td>
            <td class="cardCell" id="2.5"></td>
            <td class="cardCell" id="2.6"></td>
            <td class="cardCell" id="2.7"></td>
            <td class="cardCell" id="2.8"></td>
            <td class="cardCell" id="2.9"></td>
            <td class="cardCell" id="2.10"></td>
            <td class="cardCell" id="2.11"></td>
            <td class="cardCell" id="2.12"></td>
            <td class="cardCell" id="2.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="3.1">2</td>
            <td class="cardCell" id="3.2"></td>
            <td class="cardCell" id="3.3"></td>
            <td class="cardCell" id="3.4"></td>
            <td class="cardCell" id="3.5"></td>
            <td class="cardCell" id="3.6"></td>
            <td class="cardCell" id="3.7"></td>
            <td class="cardCell" id="3.8"></td>
            <td class="cardCell" id="3.9"></td>
            <td class="cardCell" id="3.10"></td>
            <td class="cardCell" id="3.11"></td>
            <td class="cardCell" id="3.12"></td>
            <td class="cardCell" id="3.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="4.1">3</td>
            <td class="cardCell" id="4.2"></td>
            <td class="cardCell" id="4.3"></td>
            <td class="cardCell" id="4.4"></td>
            <td class="cardCell" id="4.5"></td>
            <td class="cardCell" id="4.6"></td>
            <td class="cardCell" id="4.7"></td>
            <td class="cardCell" id="4.8"></td>
            <td class="cardCell" id="4.9"></td>
            <td class="cardCell" id="4.10"></td>
            <td class="cardCell" id="4.11"></td>
            <td class="cardCell" id="4.12"></td>
            <td class="cardCell" id="4.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="5.1">4</td>
            <td class="cardCell" id="5.2"></td>
            <td class="cardCell" id="5.3"></td>
            <td class="cardCell" id="5.4"></td>
            <td class="cardCell" id="5.5"></td>
            <td class="cardCell" id="5.6"></td>
            <td class="cardCell" id="5.7"></td>
            <td class="cardCell" id="5.8"></td>
            <td class="cardCell" id="5.9"></td>
            <td class="cardCell" id="5.10"></td>
            <td class="cardCell" id="5.11"></td>
            <td class="cardCell" id="5.12"></td>
            <td class="cardCell" id="5.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="6.1">5</td>
            <td class="cardCell" id="6.2"></td>
            <td class="cardCell" id="6.3"></td>
            <td class="cardCell" id="6.4"></td>
            <td class="cardCell" id="6.5"></td>
            <td class="cardCell" id="6.6"></td>
            <td class="cardCell" id="6.7"></td>
            <td class="cardCell" id="6.8"></td>
            <td class="cardCell" id="6.9"></td>
            <td class="cardCell" id="6.10"></td>
            <td class="cardCell" id="6.11"></td>
            <td class="cardCell" id="6.12"></td>
            <td class="cardCell" id="6.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="7.1">6</td>
            <td class="cardCell" id="7.2"></td>
            <td class="cardCell" id="7.3"></td>
            <td class="cardCell" id="7.4"></td>
            <td class="cardCell" id="7.5"></td>
            <td class="cardCell" id="7.6"></td>
            <td class="cardCell" id="7.7"></td>
            <td class="cardCell" id="7.8"></td>
            <td class="cardCell" id="7.9"></td>
            <td class="cardCell" id="7.10"></td>
            <td class="cardCell" id="7.11"></td>
            <td class="cardCell" id="7.12"></td>
            <td class="cardCell" id="7.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="8.1">7</td>
            <td class="cardCell" id="8.2"></td>
            <td class="cardCell" id="8.3"></td>
            <td class="cardCell" id="8.4"></td>
            <td class="cardCell" id="8.5"></td>
            <td class="cardCell" id="8.6"></td>
            <td class="cardCell" id="8.7"></td>
            <td class="cardCell" id="8.8"></td>
            <td class="cardCell" id="8.9"></td>
            <td class="cardCell" id="8.10"></td>
            <td class="cardCell" id="8.11"></td>
            <td class="cardCell" id="8.12"></td>
            <td class="cardCell" id="8.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="9.1">8</td>
            <td class="cardCell" id="9.2"></td>
            <td class="cardCell" id="9.3"></td>
            <td class="cardCell" id="9.4"></td>
            <td class="cardCell" id="9.5"></td>
            <td class="cardCell" id="9.6"></td>
            <td class="cardCell" id="9.7"></td>
            <td class="cardCell" id="9.8"></td>
            <td class="cardCell" id="9.9"></td>
            <td class="cardCell" id="9.10"></td>
            <td class="cardCell" id="9.11"></td>
            <td class="cardCell" id="9.12"></td>
            <td class="cardCell" id="9.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="10.1">9</td>
            <td class="cardCell" id="10.2"></td>
            <td class="cardCell" id="10.3"></td>
            <td class="cardCell" id="10.4"></td>
            <td class="cardCell" id="10.5"></td>
            <td class="cardCell" id="10.6"></td>
            <td class="cardCell" id="10.7"></td>
            <td class="cardCell" id="10.8"></td>
            <td class="cardCell" id="10.9"></td>
            <td class="cardCell" id="10.10"></td>
            <td class="cardCell" id="10.11"></td>
            <td class="cardCell" id="10.12"></td>
            <td class="cardCell" id="10.13"></td>
        </tr>
        <tr>
            <td colspan="3" class="cardCell" id="ut">UT</td>
            <td class="cardCell" id="totalPar">36</td>
            <td class="cardCell" id="empty"></td>
            <td class="cardCell" id="p1-totalShotsUT"></td>
            <td class="cardCell" id="p1-totalResultUT"></td>
            <td class="cardCell" id="p2-totalShotsUT"></td>
            <td class="cardCell" id="p2-totalResultUT"></td>
            <td class="cardCell" id="p3-totalShotsUT"></td>
            <td class="cardCell" id="p3-totalResultUT"></td>
            <td class="cardCell" id="p4-totalShotsUT"></td>
            <td class="cardCell" id="p4-totalResultUT"></td>
        </tr>
        <tr id="fold">
            <td colspan="13"> <br /></td>
        </tr>
        <tr>
            <td class="cardCell" id="12.1">1</td> @*id=row.column*@
            <td class="cardCell" id="12.2"></td>
            <td class="cardCell" id="12.3"></td>
            <td class="cardCell" id="12.4"></td>
            <td class="cardCell" id="12.5"></td>
            <td class="cardCell" id="12.6"></td>
            <td class="cardCell" id="12.7"></td>
            <td class="cardCell" id="12.8"></td>
            <td class="cardCell" id="12.9"></td>
            <td class="cardCell" id="12.10"></td>
            <td class="cardCell" id="12.11"></td>
            <td class="cardCell" id="12.12"></td>
            <td class="cardCell" id="12.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="13.1">2</td>
            <td class="cardCell" id="13.2"></td>
            <td class="cardCell" id="13.3"></td>
            <td class="cardCell" id="13.4"></td>
            <td class="cardCell" id="13.5"></td>
            <td class="cardCell" id="13.6"></td>
            <td class="cardCell" id="13.7"></td>
            <td class="cardCell" id="13.8"></td>
            <td class="cardCell" id="13.9"></td>
            <td class="cardCell" id="13.10"></td>
            <td class="cardCell" id="13.11"></td>
            <td class="cardCell" id="13.12"></td>
            <td class="cardCell" id="13.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="14.1">3</td>
            <td class="cardCell" id="14.2"></td>
            <td class="cardCell" id="14.3"></td>
            <td class="cardCell" id="14.4"></td>
            <td class="cardCell" id="14.5"></td>
            <td class="cardCell" id="14.6"></td>
            <td class="cardCell" id="14.7"></td>
            <td class="cardCell" id="14.8"></td>
            <td class="cardCell" id="14.9"></td>
            <td class="cardCell" id="14.10"></td>
            <td class="cardCell" id="14.11"></td>
            <td class="cardCell" id="14.12"></td>
            <td class="cardCell" id="14.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="15.1">4</td>
            <td class="cardCell" id="15.2"></td>
            <td class="cardCell" id="15.3"></td>
            <td class="cardCell" id="15.4"></td>
            <td class="cardCell" id="15.5"></td>
            <td class="cardCell" id="15.6"></td>
            <td class="cardCell" id="15.7"></td>
            <td class="cardCell" id="15.8"></td>
            <td class="cardCell" id="15.9"></td>
            <td class="cardCell" id="15.10"></td>
            <td class="cardCell" id="15.11"></td>
            <td class="cardCell" id="15.12"></td>
            <td class="cardCell" id="15.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="16.1">5</td>
            <td class="cardCell" id="16.2"></td>
            <td class="cardCell" id="16.3"></td>
            <td class="cardCell" id="16.4"></td>
            <td class="cardCell" id="16.5"></td>
            <td class="cardCell" id="16.6"></td>
            <td class="cardCell" id="16.7"></td>
            <td class="cardCell" id="16.8"></td>
            <td class="cardCell" id="16.9"></td>
            <td class="cardCell" id="16.10"></td>
            <td class="cardCell" id="16.11"></td>
            <td class="cardCell" id="16.12"></td>
            <td class="cardCell" id="16.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="17.1">6</td>
            <td class="cardCell" id="17.2"></td>
            <td class="cardCell" id="17.3"></td>
            <td class="cardCell" id="17.4"></td>
            <td class="cardCell" id="17.5"></td>
            <td class="cardCell" id="17.6"></td>
            <td class="cardCell" id="17.7"></td>
            <td class="cardCell" id="17.8"></td>
            <td class="cardCell" id="17.9"></td>
            <td class="cardCell" id="17.10"></td>
            <td class="cardCell" id="17.11"></td>
            <td class="cardCell" id="17.12"></td>
            <td class="cardCell" id="17.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="18.1">7</td>
            <td class="cardCell" id="18.2"></td>
            <td class="cardCell" id="18.3"></td>
            <td class="cardCell" id="18.4"></td>
            <td class="cardCell" id="18.5"></td>
            <td class="cardCell" id="18.6"></td>
            <td class="cardCell" id="18.7"></td>
            <td class="cardCell" id="18.8"></td>
            <td class="cardCell" id="18.9"></td>
            <td class="cardCell" id="18.10"></td>
            <td class="cardCell" id="18.11"></td>
            <td class="cardCell" id="18.12"></td>
            <td class="cardCell" id="18.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="19.1">8</td>
            <td class="cardCell" id="19.2"></td>
            <td class="cardCell" id="19.3"></td>
            <td class="cardCell" id="19.4"></td>
            <td class="cardCell" id="19.5"></td>
            <td class="cardCell" id="19.6"></td>
            <td class="cardCell" id="19.7"></td>
            <td class="cardCell" id="19.8"></td>
            <td class="cardCell" id="19.9"></td>
            <td class="cardCell" id="19.10"></td>
            <td class="cardCell" id="19.11"></td>
            <td class="cardCell" id="19.12"></td>
            <td class="cardCell" id="19.13"></td>
        </tr>
        <tr>
            <td class="cardCell" id="20.1">9</td>
            <td class="cardCell" id="20.2"></td>
            <td class="cardCell" id="20.3"></td>
            <td class="cardCell" id="20.4"></td>
            <td class="cardCell" id="20.5"></td>
            <td class="cardCell" id="20.6"></td>
            <td class="cardCell" id="20.7"></td>
            <td class="cardCell" id="20.8"></td>
            <td class="cardCell" id="20.9"></td>
            <td class="cardCell" id="20.10"></td>
            <td class="cardCell" id="20.11"></td>
            <td class="cardCell" id="20.12"></td>
            <td class="cardCell" id="20.13"></td>
        </tr>
        <tr>
            <td colspan="3" class="cardCell" id="in">IN</td>
            <td class="cardCell" id="totalPar">36</td>
            <td class="cardCell" id="empty"></td>
            <td class="cardCell" id="p1-totalShotsIN"></td>
            <td class="cardCell" id="p1-totalResultIN"></td>
            <td class="cardCell" id="p2-totalShotsIN"></td>
            <td class="cardCell" id="p2-totalResultIN"></td>
            <td class="cardCell" id="p3-totalShotsIN"></td>
            <td class="cardCell" id="p3-totalResultIN"></td>
            <td class="cardCell" id="p4-totalShotsIN"></td>
            <td class="cardCell" id="p4-totalResultIN"></td>
        </tr>
        <tr>
            <td class="cardCell" id="22.1"></td>
            <td class="cardCell" id="22.2">5686</td>
            <td class="cardCell" id="22.3">5384</td>
            <td class="cardCell" id="22.4">72</td>
            <td class="cardCell" id="22.5">S:a</td>
            <td class="cardCell" id="22.6"></td>
            <td class="cardCell" id="22.7"></td>
            <td class="cardCell" id="22.8"></td>
            <td class="cardCell" id="22.9"></td>
            <td class="cardCell" id="22.10"></td>
            <td class="cardCell" id="22.11"></td>
            <td class="cardCell" id="22.12"></td>
            <td class="cardCell" id="22.13"></td>
        </tr>
    </table>
</div>