@using Golf4.Models
@using System.Data
@model System.Data.DataTable


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="memberList">
        <h2> Medlemsregister</h2>
        <hr />
    </div>
    <div> 
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.0/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

        <table id="members">
            <thead>
                <tr>
                   @foreach (DataColumn item in Model.Columns)
                   {
                       <th> @item.ColumnName</th>
                   }


                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn item in Model.Columns)
                        {
                        <td>
                            @if (item.ColumnName == "id")
                            {
                            @Html.ActionLink("Ändra", "index", "admin", new { member = row[item.ColumnName], }, null)

                            }
                            else
                            {
                            @row[item.ColumnName];
                            }
                            
                        </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <script>
        $(document).ready(function () {
                    $('#members').DataTable({
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.12/i18n/Swedish.json'
                        },
                        fixedHeader: true,
                        dom: 'Blfrtip',
                        buttons: [{
                            extend: 'collection',
                            text: 'Exportera',
                            buttons: [
                                { extend: 'copy', text: 'Kopiera' },
                                { extend: 'excel', text: 'Excel' },
                                { extend: 'pdf', text: 'PDF' },
                                { extend: 'print', text: 'Skriv ut' }
                            ],
                        }],
                    })
                });
        
        </script>
    </div>
</body>
</html>
