@using Golf4.Models
@using System.Data
@model System.Data.DataTable


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>


<div class="memberList">
    <h2> Välkommen!</h2>
    <hr />
</div>
<div> 
    Du är nu inloggad som användare @User.Identity.Name ! 
</div>

