@using Golf4.Models
@model AdminModels.Adminviewmodel


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>


<div class="memberList">
    <h2> Välkommen!</h2>
    <hr />
</div>
<div> 
    Du är nu inloggad som användare @Model.Firstname  @Model.Lastname</div>

