@using Golf4.Models
@model AdminModels.Adminviewmodel


@{
    ViewBag.Title = "Index";
}

<div class="memberList">
    <h2> Välkommen!</h2>
    <hr />
</div>
<div> 
    <i>Du är nu inloggad som användare @Model.Firstname  @Model.Lastname</i>
</div>
<hr/>
<div>
    Gå direkt till:
    <p><a class="btn btn-default" href="~/Admin/Members">Medlemshantering</a></p>
    <p><a class="btn btn-default" href="~/Reservation/Index">Tidsbokning</a></p>
    <p><a class="btn btn-default" href="~/Reservation/CloseCourse">Stängning av bana</a></p>
    <p><a class="btn btn-default" href="~/Contest/Index">Tävlingshantering</a></p>
</div>
